<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>PromoBot</title>

<style>

body{

font-family:Arial;

margin:40px;

}

table{

border-collapse:collapse;

width:100%;

}

td,th{

border:1px solid #ddd;

padding:10px;

}

th{

background:#ffe600;

}

</style>

</head>

<body>

<h1>PromoBot</h1>

<table>

<tr>

<th>Código</th>

<th>Descrição</th>

<th>Validade</th>

</tr>

{% for cupom in cupons %}

<tr>

<td>{{cupom.codigo}}</td>

<td>{{cupom.descricao}}</td>

<td>{{cupom.validade}}</td>

</tr>

{% endfor %}

</table>

</body>

</html>
